* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, Montserrat, sans-serif;
    color: #ffffff;
}

:root {
    --color-bg1: #610000;
    --color-bg2: #6b3d00;
    --color-bg3: #ee9b00;
    --color-bg1-alt: #ffffff;
    --color-bg2-alt: #7c7c7c;
    --color-bg3-alt: #dbdbdb;
    --color1: #ff0000;
    --color2: #a75900;
    --color3: #d8a602;
    --color4: #ff6c6c;
    --color5: #df7700;
    --circle-size: 80%;
    --blending: hard-light;
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg2), var(--color-bg1), var(--color-bg3));
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 5px #4200ad;
}

.bg-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.g1, .g2, .g3, .g4, .g5 {
    position: absolute;
    mix-blend-mode: var(--blending);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
}

.g1 {
    background: radial-gradient(circle at center, var(--color1), transparent 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
}

.g2 {
    background: radial-gradient(circle at center, var(--color2), transparent 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
}

.g3 {
    background: radial-gradient(circle at center, var(--color3), transparent 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
}

.g4 {
    background: radial-gradient(circle at center, var(--color4), transparent 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}

.g5 {
    background: radial-gradient(circle at center, var(--color5), transparent 50%) no-repeat;
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 10px;
    text-align: center;
}

.loading-dots {
    display: inline-block;
    width: 1.5em;
    text-align: left;
}

.loading-dots::after {
    content: '...';
    animation: dots 1.5s steps(4, end) infinite;
}

.delayed-button {
    opacity: 0;
    pointer-events: none;
    animation: showButton 3s forwards;
    animation-delay: 2s; /* delay before showing */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000056;
    max-width: 600px;
    width: 100%;
    margin: 20px;
    border-radius: 25px;
    box-shadow: #ff5100 0px 0px 10px 5px;
}

.card-content-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.img-container img {
    width: 30%;
    height: 0%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: #ff5100 0px 0px 3px 1px;
}

button {
    background-color: #ff5100;
    color: var(--color-bg2-alt);
    border: none;
    padding: 8px;
    border-radius: 11px;
    box-shadow: #ff5100 0px 0px 3px 1px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
}

button:hover {
    background-color: #912e00;
    box-shadow: #912e00 0px 0px 3px 1px;
    transform: scale(1.07);
    transition: transform 0.2s ease-in-out;
}

/* KEYFRAMES */

@keyframes showButton {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes dots {
    0%, 20% { content: ''; }
    40% { content: '.'; }
    60% { content: '..'; }
    80%, 100% { content: '...'; }
}

@keyframes moveInCircle {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(180deg);}
    100% { transform: rotate(360deg);}
}

@keyframes moveVertical {
    0% { transform: translateY(-50%);}
    50% { transform: translateY(50%);}
    100% { transform: translateY(-50%);}
}

@keyframes moveHorizontal {
    0% { transform: translateX(-50%) translateY(-10%);}
    50% { transform: translateX(50%) translateY(10%);}
    100% { transform: translateX(-50%) translateY(-10%);}
}